body {
  background-color: rgb(247, 248, 249);
}

header {
  color: white;
  background-color: rgb(46, 51, 56);
  padding: 1% 5%;
  position: fixed;
  top: 0;
  width: 100%;
}

.non-header {
  margin-top: 7%;
}

p.logo {
  font-size: 25px;
  margin: auto;
}

/* Catalog */
.list-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1% 5%;
}

div.product-card {
  cursor: pointer;
  flex-basis: calc(90%/3);
  background-color: white;
  height: 450px;
  border: 1px solid lightgray;
  margin-bottom: 1%;
}

.image-container {
  height: 60%;
}

img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

div.info-container {
  padding: 10px 15px 0;
  height: 40%;
  overflow: auto;
}

p.price {
  color: grey;
}

/* description page */
.description-container {
  background-color: white;
  box-sizing: border-box;
  width: 90%;
  margin: 2% 5%;
  padding: 2%;
  max-height: 90vh;
  border: 1px solid lightgray;
}

.description-image-container {
  width: 40%;
  max-height: 30%;
  float: left;
}

.description-image {
  width: 100%;
  height: 40vh;
  object-fit: contain;
}

.description-info-container {
  padding: 0 2%;
  display: inline-block;
  width: 60%;
}

.long-description {
  padding-top: 5%;
  margin: 0;
}

.clear {
  clear: left;
}

button.back-button {
  color: grey;
}

/* Cart Summary*/
.summary-container {
  margin: 1% 5%;
}


.cart-summary-item-card {
  display: flex;
  align-items: center;
  background-color: white;
  height: 350px;
  margin-bottom: 2%;
  border: 1px solid lightgrey;
  padding: 0 2%;
}

.summary-image-container {
  width: 40%;
  height: 90%;
  object-fit: contain;
}

.summary-info {
  padding: 0 1%;
}

.cart-nav {
  cursor: pointer;
}
